* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Times New Roman', Times, serif;	
}

header {
	text-align: center;
	color: white;
	padding: 20px;
	background-color: darkblue;
}

.card { 
	padding: 10px;
	margin: 5px;
	
	
}

#day{
background-color: black;
color: rgb(223, 223, 229);
}

.sidebar {
	background-color: lightgray;
	padding: 10px;

}

@media (min-width: 768px) {
	.row {
					margin-right: 1em; 
					padding: .5em;
					
	}
}
